<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styleLogin.css') }}"><!-- Conexion a la hoja de estilos css -->
</head>
<body>
    <form class="container" action="/login" method="post">
        <h1 class="Login-title">Login</h1>

        <section class="input-box">
            <input type="text" id="email" name="email" placeholder="Email" required>
            <i class='bx bxs-user'></i>
        </section>
        <section class="input-box">
            <input type="password" id="password" name="password" placeholder="Password" required>
            <i class='bx bxs-lock-alt'></i>
        </section>

        <section class="remember-forgot-box">
            <div class="remember-me">
                <input type="checkbox" name="remember-me" id="remember-me">
                <label for="remember-me">
                    <h5>Remember me</h5>
                </label>
            </div>
            <a class="forgot-password" href="#"> <h5>Forgot password?</h5> </a>
        </section>

        <button class="login-button" type="submit" name="inicio" value="inicio">
            Login
        </button>

        <button class="login-button" type="button" id="registerButton">
            Register
        </button>
        
        <!--<a class="login-button" href="{{ url_for('register') }}">
            Register
        </a>-->

        <!--<button class="login-button" type="submit" name="register" value="true">
            Register
        </button>-->

        <h5 class="dont-have-an-account">
            Don't have an account?
            <a href="/register"> <b>Register as Guest</b> </a>
        </h5>

        {% if message %}
        <div>
            <h2 style="color: green;">{{ message }}</h2>
        </div>
        {% endif %}

        {% if error %}
        <div>
            <h3 style="color: red;">{{ error }}</h3>
        </div>
        {% endif %}
    </form>  

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
